body {
    font-family: "karma" !important;
}
.btn {
    border-radius: 0%;
    width: 100%;
}
.card h4, p {
    text-align: justify;
    text-align: center;
}
.hoverEffect:hover {
    background-color: darkgray !important ;
    color: black !important;
}
p span:hover {
    background-color: black !important;
    color: white;
}
h5 {
    font-family: "karma", sans-serif !important;
}
#italicText {
    font-style: italic;
}
.detailText {
    font-size: smaller;
}
#textFooter {
    text-align: left;
    font-size: small;
}

