a:hover {
    background-color: darkgray !important;
}
.smallText {
    font-size: smaller;
}
.btn {
    border-radius: 0%;
    width: 200px;
}
#imageSection {
    background-image: url(/Images/jane.jpg);
    min-height: 100vh;
}
h2 {
    font-size: 40px;
}
h1 {
    font-size: 70px;
}
.card {
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#text1 {
    text-align: justify;
    font-size: 15px;
    margin: 15px;
}
.rightBtn {
    float: right !important;
}
.leftBtn {
    float: left !important;
}
ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}
.boderBottom {
    border-bottom: 1px solid #ccc;
    padding: 8px 16px !important;
    padding-bottom: 16px !important;
}
li {
    padding: 8px 16px !important;
    padding-bottom: 16px !important; 
}
i:hover {
    opacity: 0.16;
}
input[type=email] {
    border-radius: 0%;
    
}
.btn-danger {
    width: 95%;
}
.btn-danger:hover {
    background-color: #ccc;
    color: black;
}