a:hover {
    background-color: darkgray !important;
}
.smallText {
    font-size: smaller;
}
.btn {
    border-radius: 0%;
}
#imageSection {
    background-image: url(/Images/jane.jpg);
    min-height: 100vh;
}



